body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.label{
  display: block;
  background-color: lightblue;
  border-radius: 5px;
  padding: 5px;
  color: #444;
  margin: 15px;
}

.label-green{
  background-color: green;
  color: white;
}


.label-gray{
  background-color: #ccc;
  border:1px solid #444;
  color: #444; 
  padding: 10px;
}

form input[type="text"],
form select,
form textarea{
  display: block;
  margin: 10px; /*margen*/
  padding: 10px;
  min-width: 250px;  /* lardo*/
  min-height: 50px;  /*ancho*/
}

form select{
  min-width: 272px;  /* lardo*/
  min-height: 50px;  /*ancho*/
  background-color:#444;
  color: white;
}

form input[type="submit"],
form button[type="submit"]{
  display: block;
  float: left;
  margin: 10px; /*margen*/
  padding: 3px;
  background-color: green;
  color: white;
  border: 3px solid blue;
  transition: all 300ms;
}

form input[type="submit"]:hover,
form button[type="submit"]:hover{
  background-color: #ccc;
  color: #444;
  border: 3px solid yellow
}


.usuario-datos {
  max-width: 500px;  /* Fija el ancho máximo del contenedor */
  overflow: hidden;  /* Oculta el desbordamiento del texto */
  text-overflow: ellipsis;  /* Añade puntos suspensivos al final del texto que no cabe */
  white-space: nowrap;  /* Evita el salto de línea */
}

