.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
    display: none; /* Por defecto, está oculto */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegura que esté encima de otros elementos */
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input[type="text"], input[type="email"], input[type="submit"] {
    padding: 10px;
    font-size: 16px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }